<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Table Properties Editor"
            extensions="properties"
            icon="icons/icon.gif"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            class="net.leaotech.propertieseditor.TablePropertiesEditor"
            id="net.leaotech.propertieseditor.TablePropertiesEditor">
      </editor>
   </extension>
</plugin>
